body{
    width: 1085px;
    height: 1440px;
    margin: auto;
    margin-top: 0px;
}
.my{
   display:flex;
   justify-content: space-between;
   padding: 30px;
   font-weight: 700;
}
.photo{
   width: 21.25px;
   height: 21.25px;
}
.background{
   background-color:  #FAFAFA;
}
.p{
    width: 20px;
    height: 20px;
}
.container{
    display: flex;
    padding-top: 60px;
}

.hithere{
    border: 2px solid none;
    width: 700px;
    margin-bottom: 60px;
    padding-right: 20px;
}
.images {
    width: 180px;
    height: 180px;
}

.howi{
    border: 2px solid none;
    width: 844px;
    height: 309px;
    top: 420px;
    left: 121px;
    margin: auto;
    line-height: 25px;

}
.rec{
   text-align: center;
   margin-bottom: 20px;
}
.photo33{
    border: 2px solid none;
    width: 309px;
    height: 393px;
 }
 .photo33 p{
   margin: 10px 0;
 }
 .photo3{
    width: 309px;
    height: 232px;
 }
 .photo44{
    border: 2px solid none;
    width: 309px;
    height: 393px;
 }
 .photo44 p{
   margin: 10px 0;
 }
 .photo4{
    width: 309px;
    height: 232px;
 }
 .photo55{
    border: 2px solid none;
    width: 309px;
    height: 393px;

 }
 .photo55 p {
   margin: 10px 0;

 }
 .photo5{
    width: 309px;
    height: 232px;
 }
 .container{
    display: flex;
    margin: auto;
    justify-content: space-around;
 }
 .last{
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
    margin-top: 60px;
 }
 .last p{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;

 }



